body {
    background: #fafafa;
    text-align: center;
    color: #666666;
    overflow: hidden;
}

.dino {
    width: 60px;
    height: 60px;
    position: absolute;
    bottom: 0;
    background-image: url(dino.png);
}

.cactus {
    position: absolute;
    width: 60px;
    height: 60px;
    bottom: 0;
    background-image: url(cactus.png);
}

@keyframes slideright {
    from {
        background-position: 50000%;
    }
    to {
        background-position: 0;
    }
}

.background {
    position: absolute;
    bottom: 0;
    background-image: url(background.png);
    background-repeat: repeat-x;
    animation: slideright 600s infinite linear;
    width: 100%;
    height: 200px;
}